@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700);
body {
  line-height: 160%;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-left: 20%;
  margin-right: 20%;
  color: rgb(42, 52, 57);
}

.hot {
  font-weight: 700;
  border-bottom: 3px solid rgb(255, 140, 0);
}

mark {
  background: rgb(255, 140, 0);
}

.header h3 {
  font-weight: normal;
}

.header {
  padding-top: 10px;
}

.header img {
  height: 10px;
  display: inline-block;
}

.header .arrow {
  cursor: pointer;
}

.biolinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.biolinks li {
  display: inline-block;
  margin-right: 10px;
}

.biolinks img {
  height: 30px;
}

.content h2 {
  border-top: 3px solid rgb(216, 216, 216);
  padding-top: 20px;
}

.content ul {
  list-style: none;
  padding-left: 0px;
}

.content li {
  margin-bottom: 10px;
}

.content .title {
  display: inline-block;
  width: 200px;
  font-weight: bold;
}

.content .detail {
  display: block;
  overflow: hidden;

  border-left: 3px solid rgb(216, 216, 216);
  padding: 0px 20px;

  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.content .detail.show {
  max-height: 1000px;
  opacity: 1;
}

.content li a {
  color: rgb(255, 140, 0);
  text-decoration: none;
  border-bottom: 1px solid rgb(42, 52, 57);
}

/* Rotate */

.rotate {
  transform: rotate(-180deg);
  transition: 0.5s;
}

.rotate-reset {
  transform: rotate(0deg);
  transition: 0.5s;
}

@media screen and (max-width: 800px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
  .header {
    padding-top: 0px;
  }
  .content ul {
    margin-left: 0px;
  }
  .content .title {
    display: block;
  }
  .content .dash {
    display: none;
  }
}
